/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  margin:0;
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #4F4846;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: deepskyblue;
}

header {
  position: fixed;
  box-shadow: 0px 0px 10px #111;
  opacity: 0.97;
  z-index:99;
}

nav {
  font-size: 16px;
}

footer {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;  
  font-size: 14px;  
}

figure {
  margin:0px;
}

figure h3 {
  position: absolute;
  bottom: 570px;
  left:0px;
}

figcaption {
   position: absolute;
   top: 270px;
   left: 90px;
   width: 380px;
}

.portfolio_button {
  position: absolute;
  background: deepskyblue;
  border-radius: 3px;
  padding: 10px 0px;
  text-align: center;
  font-size: 17px;
  top: 410px;
  left: 130px;
  width: 120px;
  height: 20px;
}

.portfolio_button:hover {
  background: #008dbd;
}

img {
  display: block;
  margin: 0px auto;
}

.backgroundimage {
  width:100%; 
}

#logo {
  position: absolute;
  top: 200px;
  left: 80px;
  font-size: 60px;
}

#about-text {
  position: absolute;  
}

section {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 0;
  padding: 60px 0px 60px 0px;
  border-top: 1px solid #ccc;
}

#skills {
  
}

#contact {
  background-color: #eee;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
}

form li {
  padding: 0px;
  float: left;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: none;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
}

textarea {
  vertical-align: top;
  height: 60px;
}

#message {
  font-family: "Goudy Bookletter 1911", sans-serif;
  height: 120px;
  resize: none;
}
  
button {
  height: 40px;
  width: 120px;
  margin: 10px 0;
  background-color: deepskyblue;
  color: #FDF8F5;
  border: none;
  position: relative;
  float: left;
  border-radius: 3px;
}

button:hover {
  background: #008dbd;
  cursor:pointer;
}

/* Class Selectors */
.text-center {
  text-align: center;
}

.text-left {
    text-align: left;
    margin: 80px 40px;
    color: #fff;
}

.text-right {
  text-align: right;
}
